:root {
  --color-primary: goldenrod;
  --color-primary-light: gold;
  --color-secondary: lightcoral;
  --color-accent: greenyellow;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: blue;

  --font-primary: "Nunito Sans", "Trebuchet MS", arial, sans-serif;
  --font-secondary: "Source Code Pro", menlo, consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
