.banner-content {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.banner {
  position: relative;
}

.banner-text {
  display: block;
  padding-bottom: 2rem;
}
