.nav {
  padding: 1rem;

  background-color: var(--color-primary);
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;
  color: #fff;

  text-decoration: none;
}

.logo {
  max-width: 3rem;
  display: inline-block;
}
